.sidebar {
    padding: 0;
    width: 150px;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  .card{
    margin-bottom: 5rem;
    margin-left: 11rem;
    margin-top: 200px;
}
.card-title{
    align-items: center;
    color:black;

}
.card-head{
    align-items: start;
}
#acc{
    margin-top: 46rem;
}
  