<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History-Staff</title>
    <link rel="stylesheet" href="/css/history/his-staff.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/nav/stylestaff.css">
</head>
<body>

    <!-- navbar -->
    <nav class="sidebar" style="background-color: rgb(237, 228, 243);">
        <header>
                <div class="text">
                    <span><img src="/img/nav/logo.png" width="106.5%"></span>
                </div>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/roomSta">
                            <i class='bx bx-home-alt icon'><img src="/img/nav/list.png" width="32px"></i>
                            <span class="text nav-text">Edit</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="/dashstaff">
                            <i class='bx bx-bell icon'><img src="/img/nav/dash.png" width="24px"></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="/hisStaff" id="his">
                            <i class='bx bx-pie-chart-alt icon'><img src="/img/nav/his.png" width="32px"></i>
                            <span class="text nav-text">History</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="/accstaff">
                        <i class='bx bx-log-out icon'><img src="/img/nav/user.png" width="25px"></i>
                        <span class="text nav-text">Account</span>
                    </a>
                </li>
                
                <li class="">
                    <a href="/logout">
                        <i class='bx bx-log-out icon'><img src="/img/nav/logout.png" width="25px"></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
            </div>
        </div>

    </nav>

    <section class="home">
        <div class="fillter">
            <!-- search -->
            <div class="search d-flex justify-content-end" style="background-color: gray; padding: 5px;">
                <input type="text" id="searchInput" placeholder="Search">
                <button id="searchButton" class="btn btn-primary ">Search</button>
            </div>
            <div class="container">
                <!-- table -->
                <table>
                    <thead>
                        <tr>
                            <th>Room</th>
                            <th>ID</th>
                            <th>User</th>
                            <th>BookingDate</th>
                            <th>BookingTime</th>
                            <th>Provide</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody class="tbody"></tbody>
                </table>
            </div>
        </div>
    </section>
    <script>
        async function getUsername() {
            try {
                // connect to server to get data
                const response = await fetch('/user');
                if (response.ok) {
                    const data = await response.json();
                    document.querySelector('#name').textContent = data.name;
                } else if (response.status == 401) {
                    const data = await response.text();
                    throw Error(data);
                } else {
                    // alert('Server error');
                    throw Error('Server error');
                }
            } catch (error) {
                console.error(err.message);
                Swal.fire({
                    "icon": "error",
                    "title": err.message
                });
            }
        }
        // get user data
        getUsername();
        // filterRooms
        function filterRooms() {
            const searchInput = document.getElementById('searchInput').value.toLowerCase();
            const rooms = document.querySelectorAll('.template-container'); // เลือก container ของห้อง

            rooms.forEach(room => {
                const roomName = room.querySelector('.product-name').textContent.toLowerCase(); // หาชื่อห้องใน container
                if (roomName.includes(searchInput)) {
                    room.style.display = 'table-row'; // แสดงห้องถ้าชื่อตรงกับคำค้นหา
                } else {
                    room.style.display = 'none'; // ซ่อนห้องถ้าชื่อไม่ตรงกับคำค้นหา
                }
            });
        }

        document.getElementById('searchButton').addEventListener('click', function () {
            filterRooms();
        });
    </script>
    <script src="/js/history/his-staff.js"></script>
</body>
</html>